@import '~bootstrap/dist/css/bootstrap.css';
//@import '~bootstrap-material-design/dist/css/bootstrap-material-design.css';
@import './bootstrap/material-kit.css';
@import '~bootstrap-material-design/dist/css/ripples.css';
//@import "./sass/bootstrap-material-design.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300);
@import './loading-spinner.scss';

body {
}

.title {
  font-size: 4em;
}

h1 {
  line-height: 1.15em;
  font-size: 4.8em;
  font-weight: 600;
  display: inline-block;
  position: relative;
}

.container {
  max-width: 1170px;
}

.page-header .container {
  a {
    color: #fff;
  }
}

.brand {
  text-align: center;
}

.section-tabs {
  background-color: #EEEEEE;
}

.main-raised-not-home {
  margin: 100px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
